header, main, footer {
    padding: 0 50px 0 50px;
}

.question {
    display: grid;
    grid-template-areas:
        'title selector'
        'answer answer'
        'answer answer';
    align-items: center;
    gap: 30px;
}

.question__title {
    grid-area: title;
}

.question__selector {
    grid-area: selector;
}

.mantine-Table-td, .mantine-Table-th {
    text-align: center !important;
}

.mantine-Table-td .mantine-Radio-body {
    justify-content: center;
}